@model Gestionador.Models.Estadisticas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estadisticas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JugadorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JugadorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartidosJugados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartidosJugados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canastas1Punto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canastas1Punto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canastas2Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canastas2Puntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canastas3Puntos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canastas3Puntos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosTotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RebotesTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RebotesTotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsistenciasTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsistenciasTotales)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
