@model IEnumerable<Gestionador.Models.Partidos>

@{
    ViewData["Title"] = "Partidos";
}

<div class="container">
    <div class="table-container">
        <p>
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Dia)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Hora)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EquipoLocalID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EquipoVisitanteID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MesaPrincipal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArbitroAsistente1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArbitroAsistente2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PuntosLocal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PuntosVisitante)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EquipoLocalID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EquipoVisitanteID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MesaPrincipal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArbitroAsistente1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArbitroAsistente2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PuntosLocal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PuntosVisitante)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    .btn {
        border-radius: 20px; /* Forma redondeada */
        padding: 8px 16px; /* Espacio interno del botón */
    }

    .table-container {
        border: 1px solid #ccc; /* Borde del contenedor de la tabla */
        padding: 16px; /* Espacio interno del contenedor */
        margin-bottom: 20px; /* Espacio inferior entre el contenedor y otros elementos */
    }

    .table-responsive {
        overflow-x: auto; /* Hace que la tabla sea autosizable horizontalmente */
    }
</style>
